.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* DASHBOARD PAGE */
.dashboard {
  background-color: white
}

.dashboard-title{
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-weight: bold;
}

.dashboard a, .dashboard h2 {
  text-decoration: none;
  font-size: 18px;
}

.dashboard h1 {
  text-align: center;
}

.dashboard a {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.dashboard-name, .dashboard-lastprice, .dashboard-change {
  border-bottom: 1px solid black;
}

/* STOCK PAGE */
.stock h1 {
  text-align: center;
}

.stock-details {
  display: grid;
  grid-template-columns: 1fr 150px 150px 150px 150px 1fr;
  border-bottom: 1px solid black;
}

.stock-details p {
  font-size: 18px;
  font-weight: bold;
}

.stock-company {
  display: grid;
  grid-template-columns: 1fr 150px 150px 150px 150px 1fr;
}